.movie-card {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-template-rows: auto auto auto auto; /* Four rows */
    grid-gap: 10px;
    margin: 10px;
    border: 1px solid #ccc;
    padding: 10px;
    box-shadow: 0px 0px 20px -10px black;
    width: 33%; /* Limit the width of each card to 45% of the container */
    /* min-width: 320px; /* Minimum width to ensure cards don't become too narrow */
    /* max-width: 320px; /* Maximum width to control card width */
    width: 300px;
    
    /* height: 100%; Remove fixed height to allow cards to expand vertically based on content */
}

.card-title {
    grid-column: span 2; /* Span across both columns */
    grid-row: 1;
    font-size: 1.5em;
}

.card-year {
    grid-column: 1;
    grid-row: 2;
}

.card-btn-add {
    grid-column: 2;
    grid-row: 3;   
}

.card-btn-add:hover {
    background-color: rebeccapurple;
    color: white;
}

.card-btn-more {
    grid-column: 1;
    grid-row: 3;
}

.card-image {
    grid-column: span 2;
    grid-row: 4;
    height: 100%; /* Ensure the card-image takes full height of its grid cell */
    display: flex;
    justify-content: center;
    align-items: center;
}

.card-image img {
    max-width: 100%;
    max-height: 100%; 
    object-fit: contain;
}

#search-results-container {
    display: flex;
    flex-wrap: wrap; /* Allow cards to wrap to the next line */
    justify-content: center; /* Center align the cards horizontally */
    gap: 20px; /* Space between cards */
    overflow-y: auto; /* Enable vertical scrolling */
    max-height: calc(100vh - 200px); /* Limit the height to the viewport minus some padding */
    padding: 10px;
}

button {
    padding: 5px 10px;
    margin: 5px;
    background-color: transparent;
    color: black;
    outline: none;
    font-size: 1.2em;
    border: 2px solid black;
    cursor: pointer;
} 
